* {
    font-size: 12px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    color: #ffffff;
}


#workspaces button {
    padding: 0 5px;
    color: #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,

#mpd {
    padding: 0 10px;
}

